header {
	background-color: #FFFFFF; /* white */
	height: 70px;
	width: 100%;
	/* ipx - border thickness, 'solid property makes border visible */
	border-bottom: 1px solid #CCCCCC;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	/* background-position-y appears to default to center if not defined
	 * in the 'background-position' property below
	 */
	background-position: 20px;
}
